.gallery-root {
  direction: rtl;
  height: calc(100% - 41px); /* consider root-nav height + 1px for hr */
  padding: 0;
  margin: 0;
}

.gallery-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.gallery-access {
  text-align: center;
}

.gallery-access input {
  direction: ltr;
  width: 300px;
  height: 25px;
  padding: 5px;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  border: 1px solid rgb(180, 180, 180);
}

.gallery-access p {
  padding: 0;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}

.gallery-header {
  display: flex;
  justify-content: center;
  padding: 20px 300px;
  box-shadow: 0 0 10px rgba(117, 117, 117, 0.3);
}

.gallery-header input {
  width: 500px;
  padding: 10px;
  border: 1px solid rgb(180, 180, 180);
}

.gallery-header button {
  width: 150px;
  background: crimson;
  border: none;
  color: #fff;
  cursor: pointer;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery .message {
  margin: 50px;
}

.gallery .load-more {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  background: crimson;
  color: #fff;
  display: none;
}

.gallery-item {
  width: 25%;
  height: 300px;
  padding: 0;
  margin: 0;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

.gallery-item a {
  bottom: 10px;
  left: 10px;
  position: absolute;
  border: none;
  background: none;
  color: rgba(245, 248, 252, 0);
}

.gallery-item:hover {
  a {
    color: rgba(245, 248, 252, 0.7);
  }
}
