.mode-root {
  direction: rtl;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: small;
}

/* .mode-container {
  height: 100%;
  padding: 0;
  margin: 0;
} */

.mode-container {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: cadetblue;
    padding: 0 50px;
    height: 8vh;
    transition: .5s;
  }

  .nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .nav ul li {
    color: #fff;
    font-size: small;
    padding-left: 20px;
    text-decoration: none;
    list-style: none;
  }
}

.switch {
  width: 50px;
  height: 30px;
  position: relative;
}

.switch .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ccc;
  transition: 0.4s;
  cursor: pointer;
}

.switch .slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  left: 5px;
  bottom: 5px;
}

.switch input:checked + .slider {
  background: gray;
}

.switch input:checked + .slider::before {
  right: 5px;
  bottom: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 120px 0;
  text-align: center;

  .heading {
    margin-bottom: 50px;
  }

  .mode-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mode-card-item {
    width: calc(33.33% - 20px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;

    img {
      width: 100%;
      margin-bottom: 20px;
      object-fit: cover;
    }
  }
}

.dark-mode {
  background: rgba(26, 26, 26, 0.904);
  color: #fff;

  .header {
    background: rgb(23, 74, 75);
  }

  .mode-card-item {
    box-shadow: 0px 0px 15px rgba(235, 235, 235, 0.2);
  }
}
