.faq-root {
    direction: rtl;
    background: rgb(73, 224, 149);
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 41px); /* consider root-nav height + 1px for hr */
}

.faq-container {
    background: #f8f8f8;
    margin: auto;
    width: 700px;
    padding: 30px;
}

h3 {
    font-size: 25px;
}

.question {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(117, 117, 117, 0.3);
}

.question header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.question p {
    font-size: 15px;
    color: #333;
    margin-top: 15px;
}

.question .toggle {
    cursor: pointer;
}

.question h5 {
    cursor: pointer;
}

