.sidebar-root {
  direction: rtl;
  height: 100%;
}

.sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  padding: 50px 0;
  background: rgb(62, 61, 66);
  top: 0;
  right: 0;
  /* display: none; */
  transform: translateX(100%);
  transition: all .3s ease-in-out;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar .sidebar-header img {
  /* border: 1px solid black; */
  border-radius: 50%;
  width: 150px;
  opacity: 40%;
  /* box-shadow: 0px 0px 15px rgba(216, 214, 214, 0.2); */
}

.sidebar .sidebar-header .close-btn {
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  background: #630263;
  color: #fff;
  font-size: 20px;
  border: none;
  line-height: 0;
}

.sidebar .sidebar-links {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .sidebar-links li {
  padding: 15px 0;
  display: flex;
  align-items: center;
  font-size: small;
}

.sidebar-links a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.sidebar-links svg {
  margin-left: 10px;
}

.sidebar-toggle {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background: purple;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

.show-sidebar {
    transform: translateX(0%);
}
