html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  height: 100%;
  padding-top: 5px;
  margin: 0px;
}

*:focus {
  outline: 0px none transparent;
}

.root-nav {
  height: 30px;
  direction: ltr;
  margin: 5px;
  margin-top: 0px; /* remove margin-top. we use padding-top on parent */
  display: flex;
  align-items: center;
  gap: 5px;
}

.root-nav-btn Button {
  font-size: smaller;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.root-hr {
  margin: 0px;
  padding: 0px;
}
